* {
	margin: 0px;
	padding: 0px;
}
#image {
	position: relative;
	z-index: -1;
	height: 500px;
}
#content {
	height: 1000px;
	width: 100%;
	background-color: #4593ce;
	position: relative;
	z-index: 1;
}