* {
	margin: 0;
}
body {
	background-image: url("Resources/Images/blurredCubes.png");
	background-size: 100% ;
	background-position: fixed;
}
img {
	color: red;
}
#contentPanel {
	margin: 75px auto;
	padding: 10px;
	background-color: rgba(255,255,255,0.2);
	height: 700px;
	width: 75%;
	color: white;
	border-radius: 8px;
	position: relative;
}
#content {

}
footer{
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	margin: 0 0 10px 0;
}
footer img{
	width: 30px;
	float: right;
	margin: 0 5px;
}